 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  height: 371px;
  margin-top: 43px;
  margin-bottom: 0;
  object-position: 50% 61.22%;
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#fff;
    border-radius:50px;
    text-align:center;
    font-size:45px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
  }
}

.u-section-1 .u-group-1 {
  width: 438px;
  min-height: 399px;
  margin: -385px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 64px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  width: 752px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  width: 386px;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px auto 23px;
  padding: 9px 50px 10px 49px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 731px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
    margin-bottom: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 807px;
  }

  .u-section-1 .u-group-1 {
    width: 418px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 378px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-bottom: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 768px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 18px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    margin-bottom: 15px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 626px;
}

.u-section-2 .u-text-1 {
  line-height: 1.6;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 36px 51px 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 305px;
  background-image: url("images/pexels-antoni-shkraba-7144207.jpg");
  background-position: 50.99% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 16px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 8px;
}

.u-section-2 .u-text-3 {
  font-size: 1.1875rem;
  margin: 0 11px;
}

.u-section-2 .u-image-2 {
  min-height: 400px;
  background-image: url("images/pexels-negative-space-34123.jpg");
  background-position: 20.21% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    width: 881px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 51px;
  }

  .u-section-2 .u-image-1 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 425px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 604px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 327px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: -336px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 604px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 7px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1812px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 10px 8px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 1812px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1141px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 1141px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 737px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 737px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 80px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 62px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 21px 6px 0;
}

.u-section-3 .u-text-3 {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 737px;
  pointer-events: auto;
  background-image: url("images/pexels-photo-9770778.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-shape-1 {
  width: 443px;
  height: 519px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 608px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 838px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 608px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 519px;
  }

  .u-section-3 .u-shape-1 {
    width: 278px;
    height: 395px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 200px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 814px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-text-1 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-image-1 {
    min-height: 779px;
  }

  .u-section-3 .u-shape-1 {
    width: 544px;
    height: 671px;
    margin-top: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 530px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 430px;
    margin-top: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 11px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 632px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 494px;
}

.u-section-4 .u-list-1 {
  width: 339px;
  margin: 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 539px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  margin: 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  margin: 0 auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-text-4 {
  margin: 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  margin: 0 auto;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px;
}

.u-section-4 .u-text-6 {
  margin: 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px;
}

.u-section-4 .u-text-7 {
  margin: 0 auto;
}

.u-section-4 .u-container-layout-9 {
  padding: 10px;
}

.u-section-4 .u-text-8 {
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 632px;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-4 .u-map-1 {
  width: 434px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 39px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-shape-1 {
    width: 470px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 2px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 604px;
  }

  .u-section-4 .u-map-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 42px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-shape-1 {
    width: 360px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-4 .u-map-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 695px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-map-1 {
    width: 360px;
    height: 678px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 316px;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-map-1 {
    height: 478px;
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}